:root {
 
  --btn-color: #000000; 
  --primary-color-2: white;
  --primary-color: #00A99D;
  --secondary-color: #0083a9; 
  --tertiairy-color: #6cbfd6; 
  --tertiairy-color-hover: #0a5d98; 
  --main-padding: 10px; 
  --shadow : 0 0 5px rgba(0,0,0,0.2);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
